<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Links to Style Sheets -->
    <!-- Bootstrap Sketchy Theme -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/sketchy/bootstrap.min.css" integrity="sha384-RxqHG2ilm4r6aFRpGmBbGTjsqwfqHOKy1ArsMhHusnRO47jcGqpIQqlQK/kmGy9R" crossorigin="anonymous">
    <!-- News Article Font -->
    <link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900,400italic,700italic,900italic|Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <!-- Custom CSS -->
    <link rel="stylesheet" href= "../static/styles/homepage.css">
    <title>Fake News Detector</title>
    </head>
<body>
    <!-- Link to JS -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    <!-- D3 -->
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <!-- Custom JS -->
    <script src = "../static/js/plots.js"></script>
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="{{url_for('index')}}">Fake News</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
      
          <div class="collapse navbar-collapse" id="navbarColor03">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="{{url_for('index')}}">Predict Fake News
                    </a>
                </li>
                <li class ="nav-item">
                    <a class = "nav-link active" href = "{{url_for('bta')}}">Behind the App</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('analysis')}}">Analysis</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('meet_the_team')}}">Meet the Team</a>
                </li>
            </ul>
          </div>
        </div>
      </nav>
      <br>
  <div class = "whole_cont container">
    <!-- Heading -->
    <div class = "container">
      <div class = "row">
        <div class = "col">
          <h1 class = "hdpos hdsize main_title"><b>Analysis</b></h1>
        </div>
      </div>
    </div>
    <hr>
    
    <!-- GRAPHS -->
    <div class="row g-0">
      <h3 class = "pps_title hdpos hdsize">Words that Contribute to each Outcome of the Model</h3>
    </div>
    <div class="row g-0">
      <!-- FAKE REAL PROP -->
      <div class="col-lg-6 col-sm-12">
        <iframe width="520" height="500" frameborder="0" scrolling="no" src="https://chart-studio.plotly.com/~MarcusKorea/143.embed"></iframe>
      </div>
      <div class="col-lg-6 col-sm-12">
        <!-- TWEETS PROP -->
        <iframe width="520" height="500" frameborder="0" scrolling="no" src="https://chart-studio.plotly.com/~MarcusKorea/119.embed"></iframe>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-sm-12">
          <div >
              <p class = "p1" style="color: black;">From the figure (on the left) above we can see that there is almost an equal amount of real (46.7%) and fake articles (53.3%).
              
              When looking at the proportion of tweets in real and fake articles, it can be shown (from the figure on the right) that 99.2% of articles that quoted tweets were considered fake news.</p>
          </div>
      </div>
    </div>
    
    <div class="row g-0">
      <!-- AVG TITLE LENGTH -->
      <div class="col-lg-6 col-sm-12">
        <iframe width="520" height="500" frameborder="0" scrolling="no" src="https://chart-studio.plotly.com/~MarcusKorea/121.embed"></iframe>
      </div>
      <div class="col-lg-6 col-sm-12">
        <!-- AVG BODY LENGTH -->
        <iframe width="520" height="500" frameborder="0" scrolling="no" src="https://chart-studio.plotly.com/~MarcusKorea/133.embed"></iframe>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-sm-12">
          <div >
              <p class = "p1" style="color: black;">On average, the title length of fake news articles appeared to be 4 words longer than real news articles. This may because real news articles are straight to the point and fake news articles tend to try and draw a reader in.
              
              It was also found that the average body length of real news was about 100 less than that of fake news articles. </p>
          </div>
      </div>
    </div>
    
 
    <div class="row g-0">
      <!-- AVG TITLE LENGTH DIST -->
      <div class="col-lg-12 col-sm-12">
        <iframe width="1070" height="500" frameborder="0" scrolling="no" src="https://chart-studio.plotly.com/~MarcusKorea/124.embed"></iframe>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-sm-12">
          <div >
              <p class = "p1" style="color: black;">Further exploring the title lengths of real and fake news articles, the distibutions were looked at for a compairison. 
              
              Looking at the distributions as a whole, we can see that real news article titles in general have shorter title lengths, with the most common length being 10 words and overall has less variation.
                
              Looking at the fake news articles, we can see that the title lengths have more variation and are generally more longer than real news articles, with the most common length being 13 word.
            </p>
          </div>
      </div>
    </div>

    <div class="row g-0">
      <!-- Top 10 Real -->
      <div class="col-lg-6 col-sm-12">
        <iframe width="520" height="500" frameborder="0" scrolling="no" src="https://chart-studio.plotly.com/~MarcusKorea/110.embed"></iframe>
      </div>
      <div class="col-lg-6 col-sm-12">
        <!-- Top 10 Fake -->
        <iframe width="520" height="500" frameborder="0" scrolling="no" src="https://chart-studio.plotly.com/~MarcusKorea/137.embed"></iframe>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-sm-12">
          <div >
              <p class = "p1" style="color: black;">When looing at the top 10 words found in fake articles, the most used word was "I", followed by Trump. This was as expected as fake news articles are often opinion based. The word Trump was exxpected as the dataset used to train the model was made up of US ploitical articles from 2016, so it no surprise that words such as Trump, Hilary and Clinton were among the top 10 words.
              
              The most common words used in real news articles was "said" and once again followed by Trump.</p>
          </div>
      </div>
    </div>

    <div class="row g-0">
      <!-- Top 20 Real -->
      <div class="col-lg-6 col-sm-12">
        <iframe width="1070" height="500" frameborder="0" scrolling="no" src="https://chart-studio.plotly.com/~MarcusKorea/113.embed"></iframe>
      </div>
    </div>
    <div class="row g-0">
      <div class="col-lg-12 col-sm-12">
        <!-- Top 20 Fake -->
        <iframe width="1070" height="500" frameborder="0" scrolling="no" src="https://chart-studio.plotly.com/~MarcusKorea/115.embed"></iframe>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-sm-12">
          <div >
            <p class = "p1" style="color: black;">Now looking at the top 20 words that contribute to the outcome of the model, we can see that the words "video","image","just","featured","trump" and "hilary" all contribue to the model displaying a fake result. "Video" and "image" mayeb contribure to fake results as fake news articles are quoting tweets more, and when copying an article paragraph the alternate text would be copied instead of the actual image/video. Seeing "trump" and "hilary" is not surpirsing as during the election a lot of fake information was spread about both candidates.
                
            Where words such as "reuters", "said","tuesday" and other days of the week all contribute to the model producing a real result. Reuters is the worlds most largest mmultimedia provider, and wa most likely the source of a lot of real news articles. Seeing the days of the weeks on this graph may be because reliable news sources may be more dilgent with how they quote sources.
            </p>
          </div>
      </div>
    </div>
 <!-- Footer -->
 <div class="container">
    <footer class="py-3 my-4">
      <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a href="{{url_for('index')}}" class="nav-link px-2 text-muted">Predict Fake News</a></li>
        <li class ="nav-item"><a class = "nav-link px-2 text-muted" href = "{{url_for('bta')}}">Behind the App</a></li>
        <li class="nav-item"><a href="{{url_for('analysis')}}" class="nav-link px-2 text-muted">Analysis</a></li>
        <li class="nav-item"><a href="{{url_for('meet_the_team')}}" class="nav-link px-2 text-muted">Meet the Team</a></li>
      </ul>
      <a href = "{{url_for('analysis')}}"> <p class="text-center text-muted">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-circle-fill" viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"/>
          </svg>
          Back to top</p></a>
    </footer>
<!-- END OF DIV TAG -->
</div>
</body>
</html>