<!DOCTYPE html>
<html>
<title>Fake News Detector</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Links to Style Sheets -->
<!-- Bootstrap Sketchy Theme -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/sketchy/bootstrap.min.css" integrity="sha384-RxqHG2ilm4r6aFRpGmBbGTjsqwfqHOKy1ArsMhHusnRO47jcGqpIQqlQK/kmGy9R" crossorigin="anonymous">
<!-- News Article Font -->
<link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900,400italic,700italic,900italic|Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
<!-- Custom CSS -->
<link rel="stylesheet" href= "../static/styles/homepage.css">


<!-- Body -->
<body>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{url_for('index')}}">Fake News</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarColor03">
        <ul class="navbar-nav me-auto">
            <li class="nav-item">
                <a class="nav-link active" href="{{url_for('index')}}">Predict Fake News
                </a>
            </li>
            <li class ="nav-item">
                <a class = "nav-link active" href = "{{url_for('bta')}}">Behind the App</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('analysis')}}">Analysis</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('meet_the_team')}}">Meet the Team</a>
            </li>
        </ul>
      </div>
    </div>
  </nav>


  <br>
  <!--  put whole page in a container -->
  <div class = "whole_cont container">
      <!-- Heading -->
      <div class = "row">
        <div class = "col">
          <h1 class = "hdpos hdsize main_title"><b>Behind the App</b></h1>
        </div>
      </div>
      <hr>
      <!-- BTS Info -->
          <!-- Pre-Processing Steps -->
          <div class="pps_cont container">
            <!-- PPS Header -->
            <div class="
            pps_head_cont container">
            <div class="row">
              <div class="col">
                <h3 class="pps_title hdpos hdsize">Pre-Processing Steps</h3>
              </div>
            </div>
          </div>
          <!-- PPS Info -->
          <div class="pps_info_cont container">
            <div class="row">
              <div class="col">
                <p class = pps_info>Three raw data sets were sourced from Kaggle.com as CSV files, combined, then cleaned and prepared in Jupyter Notebook. The following steps were taken:</p>
                <ul class="pps_info bts_info">
                  <li>Removed duplicate rows</li>
                  <li>Removed rows with blank cells</li>
                  <li>Removed articles with title lengths less than 3 words</li>
                  <li>Removed articles with body lengths less than 50 words</li>
                  <li>Removed new line characters</li>
                  <li>Removed all non ascii characters</li>
                  <li>Changed target variable (real/fake) to binary (0/1)</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        
        <!-- Model Development -->
        <div class="md_cont container">
          <div class="row">
            <div class="col">
              <!-- MD Header -->
              <div class="md_head container">
                <div class="row">
                  <div class="col">
                    <hr>
                    <h3 class="hdpos">Model Development</h3>
                  </div>
                </div>
              </div>
              <br>
              <!-- MD Info -->
              <div class="md_info bts_info container">
                <div class="row">
                  <div class="col">
                    <p>A logistic regression model was created using python and sklearn to predict whether text from a news article was real or fake news. These were the steps:</p>
                    <ul>
                      <li>Removed stop words</li>
                      <li>Removed punctuation</li>
                      <li>Split data into train and test (80/20)</li>
                      <li>Apply TF-IDF Vectoriser, fit and transform to dataset</li>
                      <li>Create a logistic regression classifier and fit to dataset</li>
                      <li>Used pickle to export data for access by Flask app</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> 
      </div>
    </div>
  </div>
  <br>
  <br>
  <hr>
  <!-- Project Workflow -->
  <div class="pw_cont container">
    <div class="row">
      <div class="col">
        <!-- Workflow Header -->
        <div class="pw_headerconatiner">
          <div class="row">
            <div class="col">
              <h3 class = "hdpos">Application Workflow</h3>
            </div>
          </div>
        </div>
        <!-- Workflow Image -->
        <div class="workflow_image_cont container">
          <div class="row">
            <div class="col"> 
              <p class = "bts_info">The following diagram represents the project workflow.</p>
              <img class = "mw-50 img-fluid" src="{{url_for('static', filename='Figures/Project_Workflow.PNG')}}" alt = "Application Workflow">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>

 <!-- Footer -->
 <div class="container">
  <footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a href="{{url_for('index')}}" class="nav-link px-2 text-muted">Predict Fake News</a></li>
      <li class ="nav-item"><a class = "nav-link px-2 text-muted" href = "{{url_for('bta')}}">Behind the App</a></li>
      <li class="nav-item"><a href="{{url_for('analysis')}}" class="nav-link px-2 text-muted">Analysis</a></li>
      <li class="nav-item"><a href="{{url_for('meet_the_team')}}" class="nav-link px-2 text-muted">Meet the Team</a></li>
    </ul>
    <a href = "{{url_for('bta')}}"> <p class="text-center text-muted">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-circle-fill" viewBox="0 0 16 16">
          <path d="M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"/>
        </svg>
        Back to top</p></a>
  </footer>
</div>      
<!-- END OF DIV TAG -->
</div>
</body>
</html>
