<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Links to Style Sheets -->
    <!-- Bootstrap Sketchy Theme -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/sketchy/bootstrap.min.css" integrity="sha384-RxqHG2ilm4r6aFRpGmBbGTjsqwfqHOKy1ArsMhHusnRO47jcGqpIQqlQK/kmGy9R" crossorigin="anonymous">
    <!-- News Article Font -->
    <link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900,400italic,700italic,900italic|Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <!-- Custom CSS -->
    <link rel="stylesheet" href= "../static/styles/homepage.css">
    <title>Fake News Detector</title>
</head>
<body>
<!-- Nav Bar -->
<nav class="na navbar navbar-expand-lg ">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarColor03">
        <ul class=" nb navbar-nav me-auto justify-content-center">
          <li class="nav-item">
            <a class="nav-link active" href="{{url_for('index')}}">Predict Fake News
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('analysis')}}">Analysis</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('code_for_nerds')}}">Code for Nerds</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('meet_the_team')}}">Meet the Team</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <br>



      <!-- Footer -->
      <div class="container">
        <footer class="py-3 my-4">
          <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="fk_index.html" class="nav-link px-2 text-muted">Predict Fake News</a></li>
            <li class="nav-item"><a href="analysis.html" class="nav-link px-2 text-muted">Analysis</a></li>
            <li class="nav-item"><a href="code-for-nerds.html" class="nav-link px-2 text-muted">Code for Nerds</a></li>
            <li class="nav-item"><a href="meet-the-team.html" class="nav-link px-2 text-muted">Meet the Team</a></li>
          </ul>
          <p class="text-center text-muted">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-circle-fill" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"/>
              </svg>
              Back to top</p>
        </footer>
      </div>
</body>
</html>