<!DOCTYPE html>
<html>
<title>Fake News Detector</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Links to Style Sheets -->
<!-- Bootstrap Sketchy Theme -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/sketchy/bootstrap.min.css" integrity="sha384-RxqHG2ilm4r6aFRpGmBbGTjsqwfqHOKy1ArsMhHusnRO47jcGqpIQqlQK/kmGy9R" crossorigin="anonymous">
<!-- News Article Font -->
<link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900,400italic,700italic,900italic|Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
<!-- Custom CSS -->
<link rel="stylesheet" href= "../static/styles/homepage.css">


<!-- Body -->
<body>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
       <!-- Nav Bar -->
       <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="{{url_for('index')}}">Fake News</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
      
          <div class="collapse navbar-collapse" id="navbarColor03">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="{{url_for('index')}}">Predict Fake News
                    </a>
                </li>
                <li class ="nav-item">
                    <a class = "nav-link active" href = "{{url_for('bta')}}">Behind the App</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('analysis')}}">Analysis</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('meet_the_team')}}">Meet the Team</a>
                </li>
            </ul>
          </div>
        </div>
      </nav>
      <br>
  <!--  put whole page in a container -->
  <div class = "whole_cont container">
      <!-- Heading -->
      <div class = "container">
        <div class = "row">
          <div class = "col">
            <h1 class = "hdpos hdsize main_title"><b>Fake News Detector</b></h1>
          </div>
        </div>
      </div>
      <hr>
      <!-- Intro Info -->
      <div class=" intro_info container">
        <div class = "row">
          <div class = "col">
            <p>'Fake news' is false or misleading information presented under the guise of factual information. It is often produced to damage a person's or entity's reputation or for the author's financial gain.Fake news, having the propensity of being more emotive and thus resulting in more clicks, often displaces real news as a result of social media algorithms. The proliferation of fake news online is a serious concern as it has a significant negative impact on both individuals and society by spreading mistrust and confusion.
            </p>
            <p>Now we being to ask ourselves, how do we decide if something is 'fake news'? Many factors contriubte to something being deemed as fake news. We often look at the source of the news, the wording the author uses and even the author themselves. What if we don't have time to comb through an news article to look for these things? Is it possible that we can determine what is fake news with only just the article title or even a single paragraph? This is where machine learning can help!</p>

            <p>Machine learning algorithms utilising natural language processing (NLP) such as the one presented below, could begin to restore the balance between what is true and what is fake. Here we have looked at how well an NLP model can determine fake news and what kind of note worthy characteristics fake and real articles have.</p>
          </div>
        </div>
      </div>
      
      <!-- Form -->
      <div class="form_cont container">
        <div class = "row">
          <div class = "col">
            <form action="{{ url_for('predict')}}"method="POST">
              <!-- Creates a label -->
              <label class = "form_label"><b>Enter article title or paragraph(s)</b></label>
              <!-- Create input bar with placeholder text -->
              <input class = "form_text_bar" class="w3-input w3-border w3-hover-border-black" type="text" name="Contents" required placeholder="Example: States are taking their own political paths on COVID-19 school rules">
              <!-- Create go button -->
              <button class="predict_bttn btn btn-secondary col-12" type="submit" action="{{ url_for('predict') }}" method="POST">GO</button>
            </form>
          </div>
        </div>
      </div>
      
      <!-- Stamps -->
          <div class="stamp_app">
            {% if outcome == 1 %}
            <div class="stamp is-fake result=1">Fake</div>
            {% elif outcome == 0%}
            <span class="stamp is-true result=0">Real</span>
            {% else %}
            {% endif %}
          </div>
      </div>

 <!-- Footer -->
 <div class="container">
  <footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a href="{{url_for('index')}}" class="nav-link px-2 text-muted">Predict Fake News</a></li>
      <li class ="nav-item"><a class = "nav-link px-2 text-muted" href = "{{url_for('bta')}}">Behind the App</a></li>
      <li class="nav-item"><a href="{{url_for('analysis')}}" class="nav-link px-2 text-muted">Analysis</a></li>
      <li class="nav-item"><a href="{{url_for('meet_the_team')}}" class="nav-link px-2 text-muted">Meet the Team</a></li>
    </ul>
    <a href = "{{url_for('index')}}"> <p class="text-center text-muted">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-circle-fill" viewBox="0 0 16 16">
          <path d="M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"/>
        </svg>
        Back to top</p></a>
  </footer>
</div>      
<!-- END OF DIV TAG -->
</div>
</body>
</html>
