<!DOCTYPE html>
<html>
<title>Fake News Detector</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Links to Style Sheets -->
<!-- Bootstrap Sketchy Theme -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/sketchy/bootstrap.min.css" integrity="sha384-RxqHG2ilm4r6aFRpGmBbGTjsqwfqHOKy1ArsMhHusnRO47jcGqpIQqlQK/kmGy9R" crossorigin="anonymous">
<!-- News Article Font -->
<link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900,400italic,700italic,900italic|Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
<!-- Custom CSS -->
<link rel="stylesheet" href= "../static/styles/homepage.css">


<!-- Body -->
<body>
  <!--  put whole page in a container -->
  <div class = "whole_cont container">
      <!-- Heading -->
      <div class = "container">
        <div class = "row">
          <div class = "col">
            <h1 class = "hdpos hdsize main_title"><b>Fake News Detector</b></h1>
          </div>
        </div>
      </div>
      <hr>
      <!-- Intro Info -->
      <div class=" intro_info container">
        <div class = "row">
          <div class = "col">
            <p>'Fake news' is false or misleading information presented under the guise of factual information. It is often produced to damage a person's or entity's reputation or for the author's financial gain.Fake news, having the propensity of being more emotive and thus resulting in more clicks, often displaces real newsas a result of social media algorithms. The proliferation of fake news online is a serious concern as it has a significant negative impact on both individuals and society by spreading mistrust and confusion.
            </p>
            <p>Machine learning algorithms utilising natural language processing (NLP) such as the one presented here,
              could begin to restore the balance between what is true and what is fake.
            </p>
          </div>
        </div>
      </div>
      <br>
      
      <!-- Form -->
      <div class="form_cont container">
        <div class = "row">
          <div class = "col">
            <form action="{{ url_for('predict')}}"method="POST">
              <!-- Creates a label -->
              <label class = "form_label"><b>Enter article title or paragraph(s)</b></label>
              <!-- Create input bar with placeholder text -->
              <input class = "form_text_bar" class="w3-input w3-border w3-hover-border-black" type="text" name="Contents" required placeholder="Example: States are taking their own political paths on COVID-19 school rules">
              <!-- Create go button -->
              <button class="predict_bttn btn btn-secondary col-12" type="submit" action="{{ url_for('predict') }}" method="POST">GO</button>
            </form>
          </div>
        </div>
      </div>
      
      <!-- Stamps -->
          <div class="stamp_app">
            {% if outcome == 1 %}
            <div class="stamp is-fake result=1">Fake</div>
            {% elif outcome == 0%}
            <span class="stamp is-true result=0">Real</span>
            {% else %}
            {% endif %}
          </div>
      </div>

      <!-- Slideshow -->
      <div class="row">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="..." class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="..." class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="..." class="d-block w-100" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>

      
      <!-- Tableau Graph-->
      <div class="tableau_cont container">
        <div class="row g-0">
          <div class="col-6">
            <div class="box" style = "background-color: palevioletred;">
              <p style="color: black;">Tableau Graph 1 (proportions of real/fake)</p>
            </div>
          </div>
          <div class="col-6">
            <div class="box" style = "background-color: palegoldenrod;">
              <p style="color: black;">Tableau Graph 2 (proportions of tweets)</p>
            </div>
          </div>
        </div>
      </div>
      
      <!-- Plotly graphs -->
      <div class="plot_cont container">
        <div class="row g-0">
          <div class="col-6">
            <div class="box" style = "background-color: palegreen;">
              <p style="color: black;">Plotly Graph 1 (avg word length)</p>
            </div>
          </div>
          <div class="col-6">
            <div class="box" style = "background-color: paleturquoise;">
              <p style="color: black;">Plotly Graph 2 (word length / body length)</p>
            </div>
          </div>
        </div>
      </div>
      
      <!-- R Graphs -->
      <div class=" r_cont container">
        <div class="row g-0">
          <div class="col-6">
            <div class="box" style = "background-color: lightsalmon;">
              <p style="color: black;">R Graph 1 (Distribution)</p>
            </div>
          </div>
          <div class="col-6">
            <div class="box" style = "background-color: lightskyblue;">
              <p style="color: black;">R Graph 2 (Distribution)</p>
            </div>
          </div>
        </div>
      </div>
      
      <!-- Behind the scenes -->
      <div class="bts_cont container">
        <div class="row">
          <div class="col">
            
              <!-- BTS Header -->
              <div class="bts_cont_h container">
                <div class="row">
                  <div class="col">
                    <div class="h2 hdpos hdsize">Behind the scenes</div>
                  </div>
                </div>
              </div>
              <hr>
              
              <!-- Pre-Processing Steps -->
              <div class="pps_cont container">
                <!-- PPS Header -->
                <div class="
                pps_head_cont container">
                <div class="row">
                  <div class="col">
                    <h3 class="pps_title hdpos hdsize">Pre-Processing Steps</h3>
                  </div>
                </div>
              </div>
              <!-- PPS Info -->
              <div class="pps_info_cont container">
                <div class="row">
                  <div class="col">
                    <p class = pps_info>Three raw data sets were sourced from Kaggle.com as CSV files, combined, then cleaned and prepared in Jupyter Notebook. The following steps were taken:</p>
                    <ul class="pps_info bts_info">
                      <li>Removed duplicate rows</li>
                      <li>Removed rows with blank cells</li>
                      <li>Removed articles with title lengths less than 3 words</li>
                      <li>Removed articles with body lengths less than 50 words</li>
                      <li>Removed new line characters</li>
                      <li>Removed all non ascii characters</li>
                      <li>Changed target variable (real/fake) to binary (0/1)</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            
            <!-- Model Development -->
            <div class="md_cont container">
              <div class="row">
                <div class="col">
                  <!-- MD Header -->
                  <div class="md_head container">
                    <div class="row">
                      <div class="col">
                        <h3 class="hdpos">Model Development</h3>
                      </div>
                    </div>
                  </div>
                  <br>
                  <!-- MD Info -->
                  <div class="md_info bts_info container">
                    <div class="row">
                      <div class="col">
                        <p>A logistic regression model was created using python and sklearn to predict whether text from a news article was real or fake news. These were the steps:</p>
                        <ul>
                          <li>Removed stop words</li>
                          <li>Removed punctuation</li>
                          <li>Split data into train and test (80/20)</li>
                          <li>Apply TF-IDF Vectoriser, fit and transform to dataset</li>
                          <li>Create a logistic regression classifier and fit to dataset</li>
                          <li>Used pickle to export data for access by Flask app</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div> 
          </div>
        </div>
      </div>
      <br>
      <br>
      <hr>
      <!-- Project Workflow -->
      <div class="pw_cont container">
        <div class="row">
          <div class="col">
            <!-- Workflow Header -->
            <div class="pw_headerconatiner">
              <div class="row">
                <div class="col">
                  <h3 class = "hdpos">Application Workflow</h3>
                </div>
              </div>
            </div>
            <!-- Workflow Image -->
            <div class="workflow_image_cont container">
              <div class="row">
                <div class="col"> 
                  <p class = "bts_info">The following diagram represents the project workflow.</p>
                  <img class = "mw-50 img-fluid" src="{{url_for('static', filename='Figures/Project_Workflow.PNG')}}" alt = "Application Workflow">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <!-- Meet the Team -->
      <div class="row">
        <div class="col">
        <h3 class  ="hdpos"> Meet the Team</h3>
        <!-- Cards -->
          <div class="row">
            <!-- Marcus Correia -->
            <div class="col-4">
              <a class = "card_links" href="https://github.com/MarcusKorea">
                <div class="card">
                  <img class = "card-img-top" src="https://media-exp1.licdn.com/dms/image/C4D03AQEgFGV8sldElA/profile-displayphoto-shrink_400_400/0/1641344041767?e=1648080000&v=beta&t=LJqsjNbZvnUXjYN5xKbuDROb0QUPvR92ogmpTN87K6U" alt="Marcus Correia">
                  <div class=" card_links class-body">
                    <p class = "bts_info hdpos">Marcus Corriea <br>
                      <!-- Github Icon -->
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                      <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
                    </svg> 
                    Click to see Github Profile</p>
                  </div>
                </div>
              </a>
            </div>

            <!-- Gianna Abono -->
            <div class="col-4">
              <a class = "card_links" href="https://github.com/Macampon">
                <div class="card">
                  <img class = "card-img-top" src="https://avatars.githubusercontent.com/u/87930356?v=4" alt="Gianna Abono">
                  <div class=" card_links class-body">
                    <p class = "bts_info hdpos">Gianna Abono <br>
                      <!-- Github Icon -->
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                      <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
                    </svg> 
                    Click to see Github Profile</p>
                  </div>
                </div>
              </a>
            </div>
          
            <!-- Ivana Stopka -->
            <div class="col-4">
              <a class = "card_links" href="https://github.com/ivana-stopka">
                <div class="card">
                  <img class = "card-img-top" src="https://media-exp1.licdn.com/dms/image/C5603AQFwcss_HAoTZQ/profile-displayphoto-shrink_400_400/0/1534835026736?e=1648080000&v=beta&t=5VJXAs4Wc6LIV224Vh6uAxu1oGjCN--bQP1q9yuVk_8" alt="Ivana Stopka">
                  <div class=" card_links class-body">
                    <p class = "bts_info hdpos">Ivana Stopka <br>
                      <!-- Github Icon -->
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                      <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
                    </svg> 
                    Click to see Github Profile</p>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="col-md-4 d-flex align-items-center">

          <!-- <span class="text-muted">2022</span> -->
          <a class = "btt" href="#">
            <p >
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-circle-fill" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"/>
              </svg>
              Back to the top</p>
          </a>
        </div>
      </footer>
<!-- END OF DIV TAG -->
</div>x
</body>
</html>
